
<p>
  <strong>Section:</strong>
  <%= @enrollment.section.course.number %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrollment.student.name %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
